<h1>
  List of all recipe lines
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new recipe line
    </h2>
  </header>

  <form action="/insert_recipe_line" method="post">
    <div>
      <label for="ingredient_id_box">
        Ingredient
      </label>

      <input type="text" id="ingredient_id_box" name="query_ingredient_id">
    </div>

    <div>
      <label for="recipe_id_box">
        Recipe
      </label>

      <input type="text" id="recipe_id_box" name="query_recipe_id">
    </div>

    <div>
      <label for="quantity_box">
        Quantity
      </label>

      <input type="text" id="quantity_box" name="query_quantity">
    </div>

    <div>
      <label for="quantity_unit_box">
        Quantity unit
      </label>

      <input type="text" id="quantity_unit_box" name="query_quantity_unit">
    </div>

    <div>
      <label for="notes_box">
        Notes
      </label>

      <input type="text" id="notes_box" name="query_notes">
    </div>

    <button type="submit">
      Create recipe line
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_recipe_lines.each do |a_recipe_line| %>
      <li>
        <a href="/recipe_lines/<%= a_recipe_line.id %>">
          Recipe line #<%= a_recipe_line.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
