<% require "date" %>

<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>

    <li>Grocery lists</li>
  </ul>
</nav>

<h1>
  All Grocery Lists
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new grocery list
    </h2>
  </header>

  <form action="/insert_list" method="post">
    <div>
      <label for="name_box">
        Name
      </label>

      <input type="text" id="name_box" name="query_name" value="<%= Date.today %> grocery list">
    </div>

    <div>
      <label for="description_box">
        Description
      </label>

      <textarea type="text" id="description_box" name="query_description"></textarea>
    </div>

    <button type="submit">
      Create list
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_lists.each do |a_list| %>
      <li>
        <a href="/lists/<%= a_list.id %>">
          <%= a_list.name %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
