<h1>
  List of all lists
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new list
    </h2>
  </header>

  <form action="/insert_list" method="post">
    <div>
      <label for="name_box">
        Name
      </label>

      <input type="text" id="name_box" name="query_name">
    </div>

    <div>
      <label for="description_box">
        Description
      </label>

      <input type="text" id="description_box" name="query_description">
    </div>

    <div>
      <label for="user_id_box">
        User
      </label>

      <input type="text" id="user_id_box" name="query_user_id">
    </div>

    <div>
      <label for="list_lines_count_box">
        List lines count
      </label>

      <input type="text" id="list_lines_count_box" name="query_list_lines_count">
    </div>

    <button type="submit">
      Create list
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_lists.each do |a_list| %>
      <li>
        <a href="/lists/<%= a_list.id %>">
          List #<%= a_list.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
